.main-product {
  background-color: #0a1126;
  overflow: hidden;
  position: relative;
  height: auto;
  margin-top: 1em;

  .product {
    height: 80vh;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: #f2f2f2;
    clip-path: ellipse(100% 50% at 50% 100%);
  }
}
