.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27em;
  height: 33em;
  margin-bottom: 2.5em;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #0a1126d5;
  -webkit-box-shadow: 0px 1px 30px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 30px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 30px -5px rgba(66, 68, 90, 1);
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }

  .product-image {
    width: 19em;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      border: 2px solid #e2f26b71;
      border-radius: 10px;
    }
  }

  .product-title {
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: 700;
    color: whitesmoke;
  }

  .product-description {
    margin-top: 0.7em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    font-size: 0.9em;
    text-align: center;
  }

  .product-price {
    margin-top: 1em;
    font-weight: 800;
  }

  .button {
    margin-top: 1em;
    font-size: 0.9em;
    background-color: #2abfb0;
    transition: background-color 0.4s;

    &:hover {
      background-color: #dbf22e;
      border-radius: 5px;
    }
  }
}
