@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans_7pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansSemiCondensed";
  src: url("./fonts/NunitoSans_7pt_SemiCondensed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
